*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    display: flex;
    align-items: center;
    background-color: rgb(193, 195, 197);
    overflow: hidden;
}
.pg{
    position: absolute;
    border: solid rgb(30, 30, 30) 3px;
    border-radius: 5px;
    top: 0.5%;
    left: 6.8%;
    width: 86%;
    height: 97.6%;
    background-color: rgb(221, 221, 221);
    z-index: -2;
}
.p{
    background-color: rgb(30, 30, 30);
    width: 1.5%;
    height: 20%;
    border-radius: 5px; 
    transition: 200ms;
}
.p1{
    position: absolute;
    left: 0.5%;
    top: 40%;
    border: solid rgb(189, 42, 42) 2px;
}
.p2{
    position: absolute;
    right: 0.5%;
    top: 40%;
    border: solid rgb(12, 52, 126) 2px;
}
.obj{
    position: absolute;
    width: 1.5%;
    height: 2.6%;
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    z-index: 1;
}
.sc{
    position: absolute;
    top: 2%;
    width: 5.5%;
    height: 5%;
    background-color: rgb(30, 30, 30);
    border-radius: 5px;
    text-align: center;
    font-size: 150%;
    padding-top: 0.5%;
}
.scorep1{
    left: 0.5%;
    border: solid rgb(189, 42, 42) 2px;
    color: rgb(193, 195, 197);
}
.scorep2{
    color:rgb(193, 195, 197) ;
    right: 0.5%;
    border: solid rgb(12, 52, 126) 2px;
}
.btn{
    position: absolute;
    width: 6%;
    height: 30%;
    font-size: 140%;
    border-radius: 5px;
    border: solid rgb(30, 30, 30);
    background: transparent;
    text-align: center;
}
.btnup1{
    top: 15%;
    left: 0.5%;
}
.btndown1{
    
    bottom: 10%;
    left: 0.5%;
}
.btnup2{
    top: 15%;
    right: 0.5%;
}   
.btndown2{
    bottom: 10%;
    right: 0.5%;
}
.btn1:hover{
    border: solid rgb(189, 42, 42) 2px;
    color: rgb(189, 42, 42);
    background-color: rgb(30, 30, 30);
}
.btn2:hover{
    border: solid rgb(12, 52, 126) 2px;
    color: rgb(12, 52, 126);
    background-color: rgb(30, 30, 30);
}
.sp{
    position: absolute;
    width: 8%;
    height: 5%;
    border: solid rgb(30, 30, 30) 2px;
    border-radius: 5px;
    color: rgb(30, 30, 30);
    background: transparent;
}
.spu{
    top: 0.5%;
    left: 40%;
}
.spd{
    top: 0.5%;   
    right: 40%;
}
.spu:hover{
    border: solid rgb(189, 42, 42) ;
    color: rgb(189, 42, 42);
    background-color: rgb(30, 30, 30);
}
.spd:hover{
    border: solid rgb(12, 52, 126) ;
    color:rgb(12, 52, 126);
    background-color: rgb(30, 30, 30);
}
.start{
    bottom: 0.5%;
    left: 40%;
}
.pause{
    bottom: 0.5%;   
    right: 40%;
}
.start:hover{
    border: solid rgb(189, 42, 42) ;
    color: rgb(189, 42, 42);
    background-color: rgb(30, 30, 30);
}
.pause:hover{
    border: solid rgb(12, 52, 126) ;
    color:rgb(12, 52, 126);
    background-color: rgb(30, 30, 30);
}
.vid{
    position: relative;
    width: 100%;
    height: auto;
    z-index: -1;
}
@media screen and (max-height : 500px){
    .pg{
        top: 6%;
        width: 85%;
        height: 85%;
    }
    .btn{
        font-size: 70%;
    }
    .sc{
        font-size: 90%;
    }
    .sp{
        height: 8%;
        width: 9%;
    }
    .vid{
        min-width: 100%;
        height: auto;
    }
}